.input_width_default {
    max-width: 28.33vw;
    width: 100%;
}

.field_time {
    display: flex;
    align-items: center;
    column-gap: 32px;

    &>label {
        flex-shrink: 0;
    }

    &>input {
        width: 100%;
    }
}

button.button_with_icon {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 6px 16px;
    padding-left: 12px;
}