:root {
    --aside_background: linear-gradient(180deg, #1965BF 0%, #0457B9 100%);
    --brand_primary_0: #0053B4;
    --brand_primary_1: #1965BF;
    --brand_primary_2: #2471CC;
    --white: #fff;
    --basic_background: rgba(230, 233, 237, 0.5);
    --basic_background_hover: rgba(230, 233, 237, 0.7);
    --basic_border: #C9CFD6;
    --basic_hover: rgba(242, 245, 247, 0.5);
    --basic_sep: rgba(213, 216, 219, 0.5);
    --button_primary_box_shadow: 0px 1px 3px rgba(24, 28, 50, 0.1);
    --text_secondary: rgba(18, 27, 38, 0.66);
    --text_tertiary: rgba(20, 35, 51, 0.33);
    --text_primary: #121B26;
    --caption_subtitle: #C9E2FF;
}