:root {
    --aside_background: linear-gradient(180deg, #1965BF 0%, #0457B9 100%);
    --brand_primary_0: #0053B4;
    --brand_primary_1: #1965BF;
    --brand_primary_2: #2471CC;
    --bg_light_blue: rgba(220, 238, 255, 0.5);
    --white: #fff;
    --basic_background: rgba(230, 233, 237, 0.5);
    --basic_background_hover: rgba(230, 233, 237, 0.7);
    --basic_table_item: #FAFBFC;
    --basic_border: #C9CFD6;
    --basic_hover: rgba(242, 245, 247, 0.5);
    --basic_sep: rgba(213, 216, 219, 0.5);
    --button_primary_box_shadow: 0 1px 3px rgba(24, 28, 50, 0.1);
    --shadow_card: 0 1px 3px rgba(24, 28, 50, 0.1);
    --shadow_popup: 0 4px 24px rgba(18, 27, 38, 0.1);
    --shadow_modal: 0 8px 32px rgba(18, 27, 38, 0.1);
    --text_secondary: rgba(18, 27, 38, 0.66);
    --text_tertiary: rgba(20, 35, 51, 0.33);
    --text_greendark: #35BB73;
    --text_warning: #ED0715;
    --text_orange: #FB6B03;
    --text_primary: #121B26;
    --light_text_primary: #1A1A1A;
    --caption_subtitle: #C9E2FF;
    --font-family-default: 'Inter', Arial, sans-serif;
}