@import './fonts';
@import './reset';
@import './root';
@import './helpers';

body {
    color: var(--text_primary);
    font-family: var(--font-family-default);
    line-height: 1.33;
}

.icon {
    display: flex;
}