.InputRadio {
    background-color: var(--basic_background);
    border-radius: 6px;
    display: inline-flex;
    column-gap: 2px;
    padding: 2px;

    &__input {
        &:checked {
            &+.InputRadio {
                &__content {
                    background-color: var(--white);
                    color: var(--text_primary);
                    box-shadow: var(--shadow_card);
                }
            }
        }
    }

    &__item {
        display: flex;
    }

    &__content {
        background-color: transparent;
        color: var(--text_secondary);
        border-radius: 4px;
        display: flex;
        font-size: 14px;
        line-height: 1.43;
        padding: 6px 10px;
        transition: 200ms;
    }
}