.Button {
    border-radius: 6px;
    font-family: var(--font-family-default);
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    transition: 200ms;

    &_style {
        &_blue {
            background-color: var(--brand_primary_1);
            color: var(--white);
            box-shadow: var(--button_primary_box_shadow);

            &:hover {
                background-color: var(--brand_primary_2);
            }
        }

        &_grey {
            background-color: var(--basic_background_hover);
            color: var(--text_secondary);

            &:hover {
                background-color: var(--basic_background_hover);
                color: var(--text_primary);
            }
        }
    }
}