.ScenariosList {
    &__top {
        padding: 0 28px;
    }

    &__statistics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
    }

    &__filter {
        display: flex;
        column-gap: 24px;
        margin: 20px 0 16px;
    }
}