.PhoneIphoneAlert {
    background: linear-gradient(180deg, #3081DF 0%, #226DC5 100%);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Pro Display';
    padding: 11px 6px;
    width: 100%;
    height: 100%;

    &__top {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        letter-spacing: 0.07px;
        padding: 0 8px;
        margin-bottom: 20px;
        width: 100%;
    }

    &__icon {
        display: flex;
        column-gap: 3px;
        margin-bottom: 6px;
    }

    &__time {
        font-size: 64px;
        font-weight: 200;
        line-height: 1.19;
        letter-spacing: -0.007px;
    }

    &__date {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__applications {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 15px;
        width: 100%;

        span {
            background: rgb(0, 0, 0, 0.3);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
        }
    }

    &__line {
        background-color: var(--white);
        border-radius: 2.5px;
        margin-top: 24px;
        width: 108px;
        height: 5px;
    }
}