.DropdownMenu {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: var(--shadow_popup);
    font-size: 12px;
    padding: 4px 0;
    position: absolute;

    &__item {
        cursor: pointer;
        padding: 6px 12px;

        &_line {
            border-bottom: 1px solid var(--basic_sep);
            margin-bottom: 4px;
        }
    }
}