.text-primary {
    color: var(--text_primary);
}

.text-secondary {
    color: var(--text_secondary);
}

.text-tertiary {
    color: var(--text_tertiary);
}

.text-greendark {
    color: var(--text_greendark);
}

.text-warning {
    color: var(--text_warning);
}

.text-orange {
    color: var(--text_orange);
}

.bg-basic-hover {
    background-color: var(--basic_hover);
}