.Table {
    &__titles {
        color: var(--text_secondary);
        display: grid;
        grid-gap: 12px;
        font-size: 12px;
        letter-spacing: 0.1px;
        padding: 14px 12px;
        // padding: 13px 30px 13px 28px;
    }

    &__title {
        &:first-child {
            padding-left: 14px;
        }
    }

    &__item {
        font-size: 14px;
        line-height: 143%;
        transition: 200ms;
        word-break: break-all;

        &:hover {
            background: var(--basic_table_item);
        }
    }
}