.InputMulti {
    border: 1px solid var(--basic_border);
    border-radius: 6px;
    color: var(--text_primary);
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2px;
    font-size: 14px;
    font-family: var(--font-family-default);
    line-height: 143%;
    padding: 4px;

    &:disabled {
        background-color: var(--basic_background);
    }

    &__input {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 14px;
        line-height: 143%;
        padding: 4px 9px;

        &::placeholder {
            color: var(--text_tertiary);
        }
    }
}